<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="@string/app_title"
        android:theme="@style/Theme.Hangman_Android"
        tools:node="replace">
        <activity
            android:name=".gui.game.GameActivity"
            android:exported="false"
            android:parentActivityName=".gui.menu.MainMenuActivity" />
        <activity
            android:name=".gui.search.SearchActivity"
            android:exported="false"
            android:parentActivityName=".gui.menu.MainMenuActivity" />
        <activity
            android:name=".gui.information.InformationActivity"
            android:exported="false"
            android:label="@string/app_informationTitle"
            android:parentActivityName=".gui.menu.MainMenuActivity" />
        <activity
            android:name=".gui.menu.MainMenuActivity"
            android:exported="false" />
        <activity
            android:name=".initialization.AsapSetupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>